//breakpoints
$screen-lg: 1230px!default;
$screen-md: 768px!default;
$screen-sm: 480px!default;

//images
$aspect-ratio: 0.65!default;

//font
$font: 'Source Sans Pro', sans-serif!default;
$xxl: 40px!default;
$xl: 30px!default;
$l: 18px!default;
$m: 14px!default;
$s: 12px!default;
$xs: 10px!default;

//colors
$primary-color: #333!default;
$secondary-color: #3498db!default;

$theme1: #DFE0E2!default;
$theme2: #666D74!default;
$theme3: #323A45!default;
$theme4: #009E59!default;
$theme5: #EB5D40!default;

$grey: #eaeaea!default;
$light-grey: #fafafa!default;
$dark-grey: #e3e3e3!default;

//spacing
$space: 15px!default;
$gutter: 1%!default;

//shadow
$shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25)!default;