<section class="news-item card clearfix ">
    <a href="#">        
        <span class="news-item_inner">            
            <span class="news-item_title">Newsitem title</span>            
            <span class="news-item_date">23 maart 2023</span>            
            <span class="news-item_category">
                <span>category 1</span>
                <span>category 2</span>
                <span>category 3</span>
            </span>        
        </span>   		
        <span class="news-item_visual" style="background-image: url(../img/placeholder.jpg)"></span>    
    </a>	
</section>